<form [formGroup]="crenauForm" (ngSubmit)="onSubmit()">
  <h3>
    <mat-icon>more_time</mat-icon>
    {{typeChoice}}
  </h3>
  
  <mat-radio-group [(ngModel)]="typeChoice" [ngModelOptions]="{standalone: true}">
    <mat-radio-button value="creneau" checked>Créneau</mat-radio-button>
    <mat-radio-button value="astreinte">Astreinte</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Choisir une date</mat-label>
    <input matInput [min]="datePicker" [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="submitCrenauForm && date.hasError('required')">
      La date est obligatoire
    </mat-error>
  </mat-form-field>

  <div class="heure">
    <mat-form-field>
      <mat-label>Début</mat-label>
      <mat-select formControlName="heureDebut">
        <mat-option *ngFor="let heure of heures" [value]="heure">
          {{heure.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitCrenauForm && heureDebut.hasError('required')">
        L'heure de début est obligatoire
      </mat-error>
    </mat-form-field>

    <span>à</span>

    <mat-form-field>
      <mat-label>Fin</mat-label>
      <mat-select formControlName="heureFin">
        <mat-option *ngFor="let heure of heures" [value]="heure">
          {{heure.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitCrenauForm && heureFin.hasError('required')">
        L'heure de fin est obligatoire
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Livreur max</mat-label>
    <mat-select formControlName="inscritMax">
      <mat-option *ngFor="let inscritmax of inscritsMax" [value]="inscritmax.value">
        {{inscritmax.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="submitCrenauForm && inscritMax.hasError('required')">
      Livreurs maximum obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Véhicule</mat-label>
    <mat-select formControlName="vehicule">
      <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule.value">
        {{vehicule.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field *ngIf="userRole == 'woozoo'">
    <mat-label>Société</mat-label>
    <mat-select formControlName="societe">
      <mat-option *ngFor="let societe of societes" [value]="societe.value">
        {{societe.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="submitCrenauForm && societe.hasError('required')">
      La société est obligatoire
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button>
    <mat-icon>more_time</mat-icon>
    Ajouter
  </button>
</form>

<div>
  <mat-form-field>
    <mat-label>Choisi une date</mat-label>
    <input readonly matInput [matDatepicker]="picker2" (dateChange)="afficherCrenauParDate(); afficherAstreinteParDate(); showCrenaux = true" [(ngModel)]="defaultDatePicker">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  
  <h3 (click)="showCrenaux = !showCrenaux">
    Liste des crénaux
    <mat-icon [class.active]="showCrenaux">expand_more</mat-icon>
  </h3>
  <div *ngIf="showCrenaux">
    <p *ngIf="crenaux.length == 0" class="nocrenau">Aucun créneau pour le {{defaultDatePicker  | date: 'd MMMM y'}}</p>
    <table *ngIf="crenaux.length != 0">
      <thead>
        <th><mat-icon>schedule</mat-icon></th>
        <th matTooltip="livreurs max"><mat-icon>person</mat-icon></th>
        <th matTooltip="société" *ngIf="userRole == 'woozoo'"><mat-icon>store</mat-icon></th>
        <th matTooltip="supprimer créneau"><mat-icon>delete</mat-icon></th>
      </thead>
      <tbody>
        <tr *ngFor="let crenau of crenaux">
          <td>{{crenau.heureDebut.viewValue}}-{{crenau.heureFin.viewValue}}</td>
          <!-- <td [innerHtml]="showHour(crenau.heureDebut, crenau.heureFin)"></td> -->
          <td>{{ crenau.inscritMax }}</td>
          <td *ngIf="userRole == 'woozoo'">
            <img src="/assets/images/icone_{{crenau.societe}}.png" alt="{{crenau.societe}}">
          </td>
          <td>
            <button (click)="openDialogModal(crenau)" mat-raised-button matTooltip="supprimer">
              <mat-icon>event_busy</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 (click)="showAstreinte = !showAstreinte">
    Liste des astreintes
    <mat-icon [class.active]="showAstreinte">expand_more</mat-icon>
  </h3>
  <div *ngIf="showAstreinte">
    <p *ngIf="astreintes.length == 0" class="nocrenau">Aucune astreinte pour le {{defaultDatePicker  | date: 'd MMMM y'}}</p>
    <table *ngIf="astreintes.length != 0">
      <thead>
        <th><mat-icon>schedule</mat-icon></th>
        <th matTooltip="livreurs max"><mat-icon>person</mat-icon></th>
        <th matTooltip="société" *ngIf="userRole == 'woozoo'"><mat-icon>store</mat-icon></th>
        <th matTooltip="supprimer créneau"><mat-icon>delete</mat-icon></th>
      </thead>
      <tbody>
        <tr *ngFor="let astreinte of astreintes">
          <td>{{astreinte.heureDebut.viewValue}}-{{astreinte.heureFin.viewValue}}</td>
          <!-- <td [innerHtml]="showHour(astreinte.heureDebut, astreinte.heureFin)"></td> -->
          <td>{{ astreinte.inscritMax }}</td>
          <td *ngIf="userRole == 'woozoo'">
            <img src="/assets/images/icone_{{astreinte.societe}}.png" alt="{{astreinte.societe}}">
          </td>
          <td>
            <button (click)="openDialogModal2(astreinte)" mat-raised-button matTooltip="supprimer">
              <mat-icon>event_busy</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="blur"></div>