@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
mat-toolbar {
    justify-content: space-between;
}
.mat{
    background-color: orangered;
    color: white;
    font-family: "Poppins";
}