mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: var(--primary);
    color: #fff;
    z-index: 100;
    .logo{
        height: 25px;
    }
    .profil_photo{
        width: 25px;
        height: 25px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        margin-right: 5px;
    }
}