<mat-toolbar color="primary">
  <ng-container *ngIf="user$ | async as user">
    <span>Rocket</span>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon *ngIf="!user.photoURL">account_circle</mat-icon>
        <img *ngIf="user.photoURL" [src]="user.photoURL" class="profil_photo"/>
        {{ user.displayName }}
        <mat-icon>expand_more</mat-icon>
      </button>
  </ng-container> 
  <!--<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>-->
  
  <mat-menu #userMenu>
    <button mat-menu-item routerLink="/dashboardlivreur">
      <mat-icon>date_range</mat-icon>
      <span>Mes créneaux</span>
    </button> 
    <button mat-menu-item routerLink="/planning">
      <mat-icon>today</mat-icon>
      <span>Planning</span>
    </button> 
    <button mat-menu-item routerLink="/crenau">
      <mat-icon>more_time</mat-icon>
      <span>Ajouter Créneau</span>
    </button> 
    <button mat-menu-item routerLink="/register">
      <mat-icon>pending_actions</mat-icon>
      <span>Réserver créneau</span>
    </button> 
    <button mat-menu-item routerLink="/signup">
      <mat-icon>group_add</mat-icon>
      <span>Inscription</span>
    </button> 
    <button mat-menu-item routerLink="/profil">
      <mat-icon>manage_accounts</mat-icon>
      <span>Profil</span>
    </button> 
    <button mat-menu-item routerLink="/profil">
      <mat-icon>contacts</mat-icon>
      <span>Livreur</span>
    </button> 
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>  
  </mat-menu>
</mat-toolbar>