:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    text-align: center;
    color: var(--primary);
}

.date-picker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > mat-form-field{
        margin: 0 30px;
        max-width: 180px;
    }
    div{
        display: flex;
        align-items: center;
        margin: 0 30px;
        position: relative;
        mat-form-field{
            margin-top: 5px;
            max-width: 180px;
        }
        img{
            position: absolute;
            left: -37px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            background: #fff;
        }
    }
}

mat-radio-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7px;
    mat-radio-button:first-of-type{
        margin-right: 25px;
    }
    ::ng-deep{
        .mat-radio-label-content{
            padding-left: 5px;
        }
        .mat-radio-outer-circle{
            border-color: var(--secondary);
        }
        .mat-radio-inner-circle{
            border-color: var(--secondary);
            background: var(--secondary) !important;
        }
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
            border-color: var(--secondary);
        }
    }
}

table{
    background: rgba(255,255,255,.8);
    margin: 20px auto;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-collapse: collapse;
    thead{
        th{
            background: var(--secondary);
            color: #fff;
            padding: 10px 30px;
            &:first-of-type{
                background: var(--primary);
                border-bottom: 1px solid #ccc;
                border-top-left-radius: 13px
            }
            &:last-of-type{
                border-top-right-radius: 13px;
                mat-icon:first-of-type{
                    margin-top: -3px;
                }
                span{
                    vertical-align: middle;
                    margin: 0 2px;
                }
            }
            mat-icon{
                vertical-align: middle;
            }
        }
    }
    tbody{
        tr{
            &:not(:last-of-type){
                border-bottom: 1px solid #ccc;
            }
            &:last-of-type{
                td:first-of-type{
                    border-bottom-left-radius: 13px;
                }
            }
        }
        td{
            padding: 10px 20px;
            text-align: center;
            color: var(--primary);
            &:first-child{
                background: var(--primary);
                color: #fff;         
            }
            .hour-arrow{
                vertical-align: bottom;
                color: var(--secondary);
            }
            img{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: var(--primary);
            color: #fff;
            padding: 4px 7px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            mat-icon{
                margin-right: 5px;
            }
        }
        .annule{
            background: var(--secondary);
        }
        .complet{
            background: #fff;
            color: red;
            border: 1px solid red;
            cursor: default;
        }
        .dansmin{
            background: transparent;
            border: 1px solid var(--primary);
            color: var(--primary);
            cursor: default;
            span{
                color: var(--secondary);
                margin: 0 3px;
            }
        }
    }
}

.nocrenau{
    text-align: center;
    margin-top: 50px;
    font-size: 1.3rem;
    color: var(--secondary);
}

/* Responsive */

@media (max-width: 500px) {
    :host{
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .blur{
        z-index: 0;
    }

    h1{
        font-size: 1.7rem;
    }

    h1, .date-picker, p, table, mat-radio-group{
        position: relative;
        z-index: 1;
    }
}