<h1>Mes adresses</h1>
<p (click)="openDialogModal()"><mat-icon>add_location_alt</mat-icon>Ajouter une adresse</p>
<table>
    <thead>
        <tr>
            <th><mat-icon>storefront</mat-icon></th>
            <th><mat-icon>place</mat-icon></th>
            <th><mat-icon>phone</mat-icon></th>
            <th matTooltip="adresse dépot / supprimer adresse"><mat-icon>widgets</mat-icon><span>/</span><mat-icon>delete_forever</mat-icon></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let adresse of adresses | slice: lowValueSlice : highValueSlice">
            <td>{{adresse.nom}}</td>
            <td>{{adresse.adresse}}</td>
            <td>{{adresse.phone}}</td>
            <td>
                <span class="toogle" [class.active]="adresse.status" (click)="toggleDepot(adresse)"></span>
                <mat-icon (click)="openDialogModalDelete(adresse.id)">delete_forever</mat-icon>
            </td>
        </tr>
    </tbody>
</table>
<mat-paginator [length]="adresses.length" pageSize=10
               (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 30]"
               showFirstLastButtons="false">
</mat-paginator>

<div class="blur"></div>