<div class="background">
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <h2>inscription</h2>
    <div>
      <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" formControlName="lastName" type="text"/>
          <mat-error *ngIf="signUpFormSend && lastName.hasError('required')">
            Le nom est obligatoire
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" formControlName="firstName"/>
          <mat-error *ngIf="signUpFormSend && firstName.hasError('required')">
            Le prénom est obligatoire
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input matInput placeholder="0612758492" formControlName="phone"/>
          <mat-error *ngIf="signUpFormSend && phone.hasError('required')">
            Numéro de téléphone obligatoire
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="nom@mail.com" formControlName="email" type="email"/>
          <mat-error *ngIf="signUpFormSend && email.hasError('email') && !email.hasError('required')">
            Merci de renseignez une adresse mail valide
          </mat-error>
          <mat-error *ngIf="signUpFormSend && email.hasError('required')">
            L'email est obligatoire
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password"/>
          <mat-error *ngIf="signUpFormSend && password.hasError('required')">
            Mot de passe obligatoire
          </mat-error>
          <mat-error *ngIf="signUpFormSend && password.hasError('minlength')">
            Le mot de passe doit comporter au moins 6 caractères
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Confirmer mot de passe</mat-label>
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"/>
          <mat-error *ngIf="signUpFormSend && password.hasError('required')">
            Confirmation du mot de passe obligatoire
          </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Rôle</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="signUpFormSend && role.hasError('required')">
        Le rôle est obligatoire
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpFormSend && signUpForm.hasError('passwordsDontMatch')" class="dontmatch">
      Les deux mots de passe doivent correspondre
    </mat-error>
    
    <button type="submit" mat-raised-button>
      S'inscrire
    </button>
  </form>

  <div class="blur"></div>
</div>