<ng-container *ngIf="user$ | async as user">
    <h1>Vous pouvez reserver vos crénaux, {{user.displayName}}!</h1>
    <div class="divv">
    <select >
        <option selected>Selectionner le jour</option>
        <option value="1">Lundi</option>
        <option value="2">Mardi</option>
        <option value="3">Mercredi</option>
        <option value="4">jeudi</option>
        <option value="5">Vendredi</option>
        <option value="6">Samedi</option>
        <option value="7">Dimanche</option>

      </select>
      <select >
        <option selected>Selectionner le jour</option>
        
        <option value="1">12h-13h</option>
        <option value="2">13h-14h</option>
        <option value="3">14h-15h</option>
        <option value="1">15h-16h</option>
        <option value="2">16h-17h</option>
        <option value="3">17h-18h</option>
        <option value="1">18h-19h</option>
        <option value="2">19h-20h</option>
        <option value="3">20h-21h</option>
        <option value="1">21h-22h</option>
        <option value="2">22h-23h</option>
        <option value="3">23h-00h</option>
      </select>
      <br>
      <button class="btn">Valider</button>
      </div>

</ng-container>