<ng-container *ngIf="user$ | async as user">
    <h1>Vous pouvez reserver vos crénaux, {{user.displayName}}!</h1>
    <div class="divv">
    <select >
        <option selected>Selectionner le jour</option>
        <option value="1">Lundi</option>
        <option value="2">Mardi</option>
        <option value="3">Mercredi</option>
        <option value="4">jeudi</option>
        <option value="5">Vendredi</option>
        <option value="6">Samedi</option>
        <option value="7">Dimanche</option>

      </select>
      <select >
        <option selected>Selectionner le jour</option>
        <option value="1">12h-14h</option>
        <option value="2">14h-18h</option>
        <option value="3">18-20h</option>
      </select>
      <br>
      <button class="btn">Valider</button>
      </div>

</ng-container>