<h1 *ngIf="userRole != 'woozoo'">Planning</h1>
<h1 *ngIf="userRole == 'woozoo'">Planning {{societeSelectionne}}</h1>

<div class="date">
  <mat-form-field>
    <mat-label>Choisir une date</mat-label>
    <input readonly matInput [matDatepicker]="picker" (dateChange)="afficherCrenauParSemaine()" [(ngModel)]="defaultDatePicker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div *ngIf="userRole == 'woozoo'" class="icone_societe">
  <img *ngFor="let societe of societes" src="/assets/images/icone_{{societe}}.png" alt="{{societe}}" (click)="chargerPlanningSociete(societe)" matTooltip="{{societe}}">
</div>

<mat-spinner *ngIf="showSpinner"></mat-spinner>

<p *ngIf="!showSpinner && creneaux.length == 0" class="nocrenau">Rien de prévu pour cette semaine</p>

<div class="table-wrapper" *ngIf="!showSpinner && creneaux.length != 0">

  <table>
      <thead>
        <tr>
          <th></th>
          <!-- <th>date</th> -->
          <th><mat-icon matTooltip="Horaire du créneau">schedule</mat-icon></th>
          <th><mat-icon matTooltip="Livreurs inscrit">group</mat-icon></th>
          <th><mat-icon matTooltip="Etat du créneau">pending_actions</mat-icon></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let jour of jours; index as i">
              <td>{{jour.view}}</td>
              <!-- <td>
                  <ng-container *ngFor="let creneau of creneaux">
                          <div [innerHTML]="creneau | returnCreneau: jour.value : 'date'"></div>
                  </ng-container>
              </td> -->
              <td>
                  <ng-container *ngFor="let creneau of creneaux">
                          <div [innerHTML]="creneau | returnCreneau: jour.value : 'horaire'"></div>
                  </ng-container>
              </td>
              <td>
                  <ng-container *ngFor="let creneau of creneaux">
                          <div (click)="openDialogModalLivreur(creneau)" [innerHTML]="creneau | returnCreneau: jour.value : 'inscrit'" matTooltip="voir livreur créneau de {{creneau.heureDebut.viewValue}} à {{creneau.heureFin.viewValue}}"></div>
                  </ng-container>
              </td>
              <td>
                  <ng-container *ngFor="let creneau of creneaux">
                          <div (click)="openDialogModal(creneau)" [innerHTML]="creneau | returnCreneau: jour.value : 'etat'"></div>
                  </ng-container>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="explic">
    <span class="effectue">
      <mat-icon>assignment_turned_in</mat-icon>
      Effectué
    </span>
    <span>
      <mat-icon class="en_cours">hourglass_bottom</mat-icon>
      En cours
    </span>
    <span>
      <mat-icon class="reserve">event_busy</mat-icon>
      Supprimer
    </span>
  </div>
  
</div>

<div class="blur"></div>