:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 0;
    color: var(--primary);
    position: relative;
    z-index: 1;
}

p{
    margin: 0;
}

h4{
    color: var(--secondary);
    font-size: 1.2rem;
    margin: 0 0 10px;
    text-align: center;
}

.enlevement{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 10px;
    background: var(--primary);
    margin: 30px auto auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 25px -3px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    z-index: 1;
    p{
        color: #fff;
    }
    button{
        margin-top: 17px;
        background: var(--secondary);
        color: #fff;
    }
}

.livraison{
    max-width: 500px;
    margin: auto;
    position: relative;
    z-index: 1;
    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--primary);
        margin: 30px 0;
        padding: 15px 10px;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 25px -3px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        position: relative;
        p{
            color: #fff;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 5px;
            mat-icon{
                vertical-align: sub;
                &.complement{
                    color: orange;
                    margin-right: 5px !important;
                }
            }
            &:not(:nth-of-type(2)) mat-icon{
                margin-right: 3px;
            }
            a mat-icon{
                color: var(--secondary);
                margin-left: 2px;
            }
        }
        button{
            margin-top: 12px;
            background: var(--secondary);
            color: #fff;
        }
        .incident{
            margin-top: 13px;
            color: orangered;
            cursor: pointer;
            mat-icon{
                vertical-align: sub;
                font-size: 20px;
                height: 20px;
                width: 20px;
                margin-right: 3px;
            }
        }
        .modifUrl{
            margin-top: 7px;
            color: var(--secondary);
            cursor: pointer;
            mat-icon{
                vertical-align: sub;
                font-size: 20px;
                height: 20px;
                width: 20px;
                margin-right: 3px;
            }
        }
        .livre{
            border: 1.5px solid var(--secondary);
            border-radius: 5px;
            margin-top: 13px;
            padding: 3px 13px 3px 5px;
            mat-icon{
                color: var(--secondary);
                font-size: 21px;
                width: 21px;
                height: 21px;
            }
        }
    }
}

.recapitulatif_mission{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background: var(--primary);
    margin: 30px auto auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 25px -3px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    z-index: 1;
    h4{
        cursor: pointer;
        color: #fff;
        margin: 0;
        mat-icon{
            vertical-align: middle;
            transition: .4s;
        }
        &.active{
            color: var(--secondary);
            margin: 0 0 10px;
            mat-icon{
                transform: rotate(180deg);
            }
        }
    }
    p{
        color: #fff;
        font-weight: 500;
        margin-top: -5px;
    }
    > div:first-of-type{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        span{
            display: flex;
            flex-direction: row;
            align-items: end;
            font-size: 16px;
            color: #fff;
            margin: 0 5px 10px 5px;
            mat-icon{
                color: var(--secondary);
                font-size: 30px;
                height: 30px;
                width: 30px;
            }
            img{
                width: 30px;
                margin-right: 5px;
            }
            &:nth-of-type(2){
                mat-icon{
                    margin-right: 5px;
                }
            }
        }
    }
    > div:not(:first-of-type){
        display: flex;
        flex-direction: column;
        margin: auto;
        > div{
            padding-left: 10px;
            position: relative;
            margin: 7px 0;
            span{
                color: var(--secondary);
                font-size: 12px;
            }
            &:first-of-type{
                &:after{
                    content: "";
                    position: absolute;
                    top: 24px;
                    left: -10px;
                    width: 9px;
                    height: 9px;
                    border: 2px solid var(--secondary);
                    border-radius: 50%;
                }
            }
            &:not(:first-of-type, :last-of-type){
                &:after{
                    content: '';
                    position: absolute;
                    top: 24px;
                    left: -10px;
                    width: 13px;
                    height: 13px;
                    background: var(--secondary);
                    border-radius: 50%;
                }
            }
            &:last-of-type{
                &:after{
                    content: url("/assets/images/where_to_vote.svg");
                    position: absolute;
                    top: 22px;
                    left: -15.5px;
                }
            }
            &:not(:last-of-type){
                &:before{
                    content: '';
                    position: absolute;
                    top: 37px;
                    left: -5.5px;
                    height: 100%;
                    border-left: dotted 4px var(--secondary);
                    @media (max-width: 500px) {
                        top: 41px;
                        height: 87%;
                        left: -4.5px;
                        border-left: dotted 2px var(--secondary);
                    }
                }
            }
        }
    }
}

.navigation{
    display: block;
    width: max-content;
    background: var(--secondary);
    color: #fff;
    margin: 30px auto auto;
    padding: 8px 13px 8px 53px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 25px -3px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:after{
        content: url("/assets/images/googlemap.svg");
        position: absolute;
        width: 47px;
        height: auto;
        // top: -5px;
        bottom: -7px;
        left: 0px;
    }
}

/* Responsive */

@media (max-width: 500px) {
    :host{
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .blur{
        z-index: 0;
    }
    h1{
        font-size: 1.8rem;
    }
}