h3{
    color: var(--secondary);
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        margin-right: 10px;
    }
    span{
        margin-right: 3px;
    }
    div{
        display: flex;
        align-items: center;
        margin-right: 10px;
        mat-icon{
            font-size: 18px;
            width: 18px;
            height: 18px;
        }
        @media (max-width: 400px){
            margin-left: 38px;
            margin-bottom: 10px;
        }
    }
    button{
        display: flex;
        background: var(--secondary);
        color: #fff;
        margin: auto;
        padding: 5px 10px;
        border: none;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        cursor: pointer;
    }
}