<h1>Mes livraisons</h1>

<div *ngFor="let creneauRB of creneauxRB | slice: lowValueSlice : highValueSlice" class="livraison">
    <div class="header" [class.active]="creneauRB.showDetails"  [ngClass]="{'livre': creneauRB.status}">
        <p><mat-icon>event</mat-icon>{{creneauRB.date.seconds * 1000 | date: 'd MMM Y'}} <mat-icon>schedule</mat-icon>{{creneauRB.heureEnlevement}}H00</p>
        <p *ngIf="creneauRB.adresseEnlevement.recupere && !creneauRB.status" class="header_details">Colis récuperés, livraison en cours</p>
        <p *ngIf="creneauRB.status" class="header_details">Livraison terminée</p>
        <span (click)="creneauRB.showDetails = !creneauRB.showDetails" matTooltip="plus de details"><mat-icon>info</mat-icon><mat-icon [class.active]="showDetails">expand_more</mat-icon></span>
    </div>

    <div *ngIf="creneauRB.showDetails" class="details">
    <a routerLink="/missionRoseBaie/{{creneauRB.id}}">voir mission</a>
        <h4><mat-icon>widgets</mat-icon>Adresse d'enlévement</h4>
        <p>
            {{creneauRB.adresseEnlevement.location}}
            <span *ngIf="creneauRB.adresseEnlevement.recupere"><mat-icon>check_circle</mat-icon>{{creneauRB.adresseEnlevement.recupere.seconds * 1000 | date: 'HH'}}h{{creneauRB.adresseEnlevement.recupere.seconds * 1000 | date: 'mm'}}</span>
        </p>
        <div>
            <h4><mat-icon>location_on</mat-icon>Adresses de livraison</h4>
            <div *ngFor="let adresse of creneauRB.adresseLivraison">
                <mat-icon *ngIf="!adresse.urlBonLivraison">check_box_outline_blank</mat-icon>
                <mat-icon *ngIf="adresse.urlBonLivraison">check_box</mat-icon>
                <p>{{adresse.location}}</p>
                <a *ngIf="adresse.urlBonLivraison" [href]="adresse.urlBonLivraison" target="_blank" matTooltip="voir bon de livraison"><mat-icon>receipt_long</mat-icon></a>
                <!--<a *ngIf="adresse.urlBonLivraison" [href]="adresse.urlBonLivraison" download matTooltip="télécharger bon de livraison"><mat-icon>download_for_offline</mat-icon></a>-->
                <span *ngIf="adresse.dateLivraisonEffectue">{{adresse.dateLivraisonEffectue.seconds * 1000 | date: 'HH'}}h{{adresse.dateLivraisonEffectue.seconds * 1000 | date: 'mm'}}</span>
            </div>
            <p *ngIf="!creneauRB.status" [innerHtml]="formatTime(creneauRB.time)" class="time"></p>
        </div>
    </div>
</div>

<mat-paginator [length]="creneauxRB.length" pageSize=10
               (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 30]"
               showFirstLastButtons="false">
</mat-paginator>

<div class="blur"></div>