:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    color: var(--primary);
    text-align: center;
    margin-bottom: 25px;
    text-transform: capitalize;
}

mat-form-field{
    display: flex;
    justify-content: center;
}

.nocrenau{
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: var(--secondary);
}

table{
    border-collapse: collapse;
    margin: 10px auto 0 auto;
    background: rgba(255,255,255,.8);
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    thead{
        th{
            color: #fff;
            padding: 10px 30px;
            &:first-of-type{
                border-top-left-radius: 13px;
                border-bottom: 1px solid #ccc;
                background: var(--primary);
            }
            &:last-of-type{
                border-top-right-radius: 13px;
                background: var(--secondary);
            }
            mat-icon{
                display: block;
                margin: auto;
            }
        }
    }
    tbody{
        tr{
            &:not(:last-of-type){
                border-bottom: 1px solid #ccc;
            }
            &:last-of-type{
                td:first-of-type{
                    border-bottom-left-radius: 13px;
                }
            }
        }
        td{
            padding: 13px 20px;
            &:first-child{
                background: var(--primary);
                color: #fff;
                .hour-arrow{
                    vertical-align: bottom;
                    color: var(--secondary);
                }
            }
            &:last-of-type{
                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    &:not(:first-of-type){
                        margin-top: 20px;
                    }
                    p{
                        margin: 0 20px 0 5px;
                        position: relative;
                        &:before{
                            content: '';
                            width: 8px;
                            height: 8px;
                            border-radius: 100%;
                            background: #ccc;
                            position: absolute;
                            left: -15px;
                            top: calc(50% - 4px);
                        }
                        &.priseService::before{
                            background: var(--secondary);
                        }
                        &.termine::before{
                            content: url(/assets/images/done.svg);
                            background: none !important;
                            width: 15px;
                            height: auto;
                            top: calc(50% - 11px);
                            left: -18px;
                        }
                        &.retard::before{
                            background: orangered;
                        }
                    }
                    button{
                        background: var(--secondary);
                        color: #fff;
                        &.fin_service{
                            background: var(--primary);
                        }
                    }
                    span{
                        color: var(--primary);
                        font-weight: 500;
                        u{
                            color: var(--secondary);
                            text-decoration: none;
                        }
                        mat-icon{
                            vertical-align: bottom;
                        }
                        &.absent{
                            color: red;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}