:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    color: var(--primary);
    text-align: center;
    margin-bottom: 25px;
    text-transform: capitalize;
}

mat-form-field{
    display: flex;
    justify-content: center;
}

.nocrenau{
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: var(--secondary);
}

table{
    border-collapse: collapse;
    margin: 10px auto 0 auto;
    background: rgba(255,255,255,.8);
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    thead{
        th{
            color: #fff;
            padding: 10px 30px;
            &:first-of-type{
                border-top-left-radius: 13px;
                border-bottom: 1px solid #ccc;
                background: var(--primary);
            }
            &:last-of-type{
                border-top-right-radius: 13px;
                background: var(--secondary);
            }
            mat-icon{
                display: block;
                margin: auto;
            }
        }
    }
    tbody{
        tr{
            &:not(:last-of-type){
                border-bottom: 1px solid #ccc;
            }
            &:last-of-type{
                td:first-of-type{
                    border-bottom-left-radius: 13px;
                }
            }
        }
        td{
            padding: 0 20px;
            &:first-child{
                background: var(--primary);
                color: #fff;
                padding: 20px;
                white-space: nowrap;
                .hour-arrow{
                    vertical-align: bottom;
                    color: var(--secondary);
                }
            }
            &:last-of-type{
                .creneau, .astreinte{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin: 13px 0;
                    p{
                        margin-left: 5px;
                        position: relative;
                        &:before{
                            content: '';
                            width: 8px;
                            height: 8px;
                            border-radius: 100%;
                            background: #ccc;
                            position: absolute;
                            left: -15px;
                            top: calc(50% - 4px);
                        }
                        &.priseService::before{
                            background: var(--secondary);
                        }
                        &.termine::before{
                            content: url(/assets/images/done.svg);
                            background: none !important;
                            width: 15px;
                            height: auto;
                            top: calc(50% - 11px);
                            left: -18px;
                        }
                        &.retard::before{
                            background: orangered;
                        }
                    }
                    button{
                        background: var(--secondary);
                        color: #fff;
                        margin-left: 20px;
                        &.fin_service{
                            background: var(--primary);
                        }
                    }
                    span{
                        color: var(--primary);
                        font-weight: 500;
                        margin-left: 20px;
                        white-space: nowrap;
                        u{
                            color: var(--secondary);
                            text-decoration: none;
                        }
                        mat-icon{
                            vertical-align: bottom;
                        }
                        &.absent{
                            color: red;
                            font-weight: 400;
                            margin-left: 20px;
                        }
                    }
                }
                .astreinte{
                    div{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        span{
                            font-style: italic;
                            color: var(--secondary);
                            margin-left: 5px;
                            margin-bottom: -3px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

.call_astreinte{
    display: flex;
    align-items: center;
    background: var(--primary);
    color: #fff;
    font-weight: 500;
    margin: 30px auto auto;
    padding: 6px 9px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
    mat-icon{
        color: var(--secondary);
        margin-right: 5px;
    }
}

@keyframes swipeRight{
    0% {transform: translateX(0);opacity: 1;}
    10% {transform: translateX(-30px);}
    25% {transform: translateX(0);}
    35% {transform: translateX(-30px);}
    50% {transform: translateX(0px);}
    60% {transform: translateX(-30px);}
    75% {transform: translateX(0px);}
    85% {transform: translateX(-30px);opacity: 1;}
    100% {transform: translateX(0px);}
}

/* Responsive */

@media (max-width: 815px) {
    :host{
        padding: 64px 10px 40px 10px;
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        > *:not(.blur){
            position: relative;
            z-index: 1;
        }
    }

    table{
        display: block;
        max-width: max-content;
        overflow-x: auto;
        &:before{
            content: url("/assets/images/swipe.svg");
            position: absolute;
            top: 3px;
            right: 0;
            animation: 4s swipeRight;
            opacity: 0;
        }
    }
}