h3{
    text-transform: uppercase;
    color: orangered;
}
form{
    // width: 40%;
    margin-top: -86px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.background{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: orangered;
}
mat-form-field{
    margin-bottom: 10px;
}