form{
    // width: 40%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    font-family: "Poppins";
    border: 1px solid gray;
    border-radius: 13px;
}


.background{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: orangered;
}
mat-form-field{
    margin-bottom: 10px;
}
.btn{
    background-color: orangered;
    font-family: "Poppins";
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: antiquewhite;
}
.img{
    height: 40px;
    width: 100px;
}