<h1>Mes livraisons</h1>

<mat-spinner *ngIf="showSpinner"></mat-spinner>

<div *ngIf="!showSpinner">
    <div *ngFor="let creneauRB of creneauxRB | slice: lowValueSlice : highValueSlice" class="livraison">
        <div class="header" [class.active]="creneauRB.showDetails"  [ngClass]="{'livre': creneauRB.status}">
            <p><mat-icon>event</mat-icon>{{creneauRB.date.seconds * 1000 | date: 'd MMM Y'}} <mat-icon>schedule</mat-icon>{{creneauRB.heureEnlevement.viewValue}}00</p>
            <p *ngIf="creneauRB.adresseEnlevement.recupere && !creneauRB.status" class="header_details">Colis récuperés, livraison en cours</p>
            <p *ngIf="creneauRB.status" class="header_details">Livraison terminée <span *ngIf="creneauRB.status == 'livre avec incident'">, {{calculIncident(creneauRB)}} livraison reporté</span></p>
            <span (click)="creneauRB.showDetails = !creneauRB.showDetails" matTooltip="plus de details"><mat-icon>info</mat-icon><mat-icon [class.active]="showDetails">expand_more</mat-icon></span>
        </div>

        <div *ngIf="creneauRB.showDetails" class="details">
        <!--<a routerLink="/missionRoseBaie/{{creneauRB.id}}">voir mission</a>-->
            <div>
                <span>N° {{creneauRB.numeroMission}}</span>
                <mat-icon *ngIf="userRole == 'rosebaie' && !creneauRB.adresseEnlevement.recupere" (click)="openDialogModalDelete(creneauRB)" matTooltip="supprimer">delete_forever</mat-icon>
            </div>
            <h4><mat-icon>widgets</mat-icon>Adresse d'enlévement</h4>
            <p>
                {{creneauRB.adresseEnlevement.location}}
                <span *ngIf="creneauRB.adresseEnlevement.recupere"><mat-icon>check_circle</mat-icon>{{creneauRB.adresseEnlevement.recupere.seconds * 1000 | date: 'HH'}}h{{creneauRB.adresseEnlevement.recupere.seconds * 1000 | date: 'mm'}}</span>
            </p>
            <div>
                <h4><mat-icon>location_on</mat-icon>Adresses de livraison</h4>
                <div *ngFor="let adresse of creneauRB.adresseLivraison">
                    <mat-icon *ngIf="!adresse.urlBonLivraisonSigne && !adresse.incident">check_box_outline_blank</mat-icon>
                    <mat-icon *ngIf="adresse.urlBonLivraisonSigne">check_box</mat-icon>
                    <mat-icon *ngIf="adresse.incident" class="incident">indeterminate_check_box</mat-icon>
                    <div>
                        <p>{{adresse.nom}}</p>
                        <p>{{adresse.location}}</p>
                    </div>
                    <a *ngIf="adresse.urlBonLivraisonSigne" [href]="adresse.urlBonLivraisonSigne" target="_blank" matTooltip="voir bon de livraison"><mat-icon>receipt</mat-icon></a>
                    <!--<a *ngIf="adresse.urlBonLivraison" [href]="adresse.urlBonLivraison" download matTooltip="télécharger bon de livraison"><mat-icon>download_for_offline</mat-icon></a>-->
                    <span *ngIf="adresse.dateLivraisonEffectue">{{adresse.dateLivraisonEffectue.seconds * 1000 | date: 'HH'}}h{{adresse.dateLivraisonEffectue.seconds * 1000 | date: 'mm'}}</span>
                    <span *ngIf="adresse.incident" class="incident">{{adresse.incident}}</span>
                </div>
                <p *ngIf="userRole == 'woozoo'" class="time">
                    <mat-icon>widgets</mat-icon>
                    <span [innerHtml]="calculNombreColis(creneauRB)"></span>
                    colis
                </p>
                <p *ngIf="!creneauRB.status || userRole == 'woozoo'" [innerHtml]="formatTime(creneauRB.time)" class="time"></p>
            </div>
        </div>
    </div>

    <mat-paginator [length]="creneauxRB.length" pageSize=10
                   (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 30]"
                   showFirstLastButtons="false">
    </mat-paginator>
</div>

<div class="blur"></div>