:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 80px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    text-align: center;
    color: var(--primary);
    margin-bottom: 30px;
}

.livraison{
    width: 100%;
    max-width: 750px;
    margin: auto auto 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    p{
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 20px;
        background: var(--primary);
        color: #fff;
        border-radius: 10px;
        &.active{
            border-radius: 10px 10px 0 0;
            span mat-icon:last-of-type{
                transform: rotate(180deg);
            }
        }
        &.livre{
            background: var(--secondary);
        }
        @media (max-width: 600px){
                flex-direction: column;
                padding: 15px 20px 0px 20px;
        }
        p{
            display: flex;
            align-items: center;
            mat-icon{
                margin-right: 3px;
                &:last-of-type{
                    margin-left: 10px;
                }
            }
            &.header_details{
                font-size: 13px;
                font-style: italic;
                margin: 0 5px;
                @media (max-width: 600px){
                    margin: 7px 0 0;
                }
            }
        }
        span{
            cursor: pointer;
            mat-icon{
                transition: .3s;
                @media (max-width: 600px){
                    &:first-of-type{
                        display: none;
                    }
                }
                &:last-of-type{
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                    vertical-align: sub;
                }
            }
        }
    }
    .details{
        padding: 10px 20px 20px;
        background: rgba(255, 255, 255, 0.9);
        color: var(--primary);
        border-radius: 0 0 10px 10px;
        h4{
            font-size: 1.15rem;
            text-align: center;
            margin: 0 0 7px;
            color: var(--secondary);
            mat-icon{
                vertical-align: sub;
                margin-right: 5px;
            }
        }
        p{
            line-height: 1.1;
        }
        >p{
            text-align: center;
        }
        span{
            color: var(--secondary);
            font-size: 15px;
            mat-icon{
                font-size: 20px;
                height: 20px;
                width: 20px;
                margin-right: 2px;
                vertical-align: sub;
            }
            &.incident{
                margin-left: 13px;
                font-weight: 500;
            }
        }
        .time{
            color: var(--secondary);
            text-align: center;
            margin-top: 20px;
        }
        > div:first-of-type{
            display: flex;
            justify-content: space-between;
            @media (max-width: 500px){
                margin-bottom: 10px;
            }
            mat-icon{
                color: red;
                opacity: .5;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    opacity: .85;
                }
            }
        }
        > div:last-of-type{
            margin-top: 20px;
            > div {
                display: flex;
                align-items: center;
                padding: 20px 0 0 10px;
                @media (max-width: 600px){
                    align-items: initial;
                }
                &:first-of-type{
                    padding-top: 5px;
                }
                mat-icon{
                    margin-right: 5px;
                    color: var(--secondary);
                }
                a{
                    margin-left: 10px;
                    mat-icon{
                        vertical-align: bottom;
                    }
                }
                .incident{
                    color: orangered;
                }
            }
        }
    }
}

mat-paginator{
    display: flex;
    justify-content: center;
    background: transparent;
    color: var(--primary);
    font-size: 14px;
}

@media (max-width: 500px) {
    :host{
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .blur{
        z-index: 0;
    }

    h1, .livraison{
        position: relative;
        z-index: 1;
    }
    
    ::ng-deep mat-paginator{
        margin-top: 5px;
        position: relative;
        z-index: 1;
        .mat-paginator-container{
            justify-content: center !important;
            .mat-paginator-page-size{
                display: none;
            }
        }
    }
}