:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 64px 30px 40px 30px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    color: var(--primary);
    text-align: center;
    margin-bottom: 25px;
}

.date{
    width: max-content;
    margin: auto;
}

.table-wrapper{
    max-width: 1600px;
    margin: auto;
    padding: 20px 0;
}

table{
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 25px -3px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: white;
    thead{
        font-weight: 600;
        th{
            color: #ffffff;
            background: #4FC3A1;
            padding: 10px 50px;
            &:nth-child(odd) {
                background: #324960;
            }
            &:first-of-type{
                position: relative;
                border-top-left-radius: 13px;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #ccc;
                }
            }
            &:last-of-type{
                border-top-right-radius: 13px;
            }
            mat-icon{
                vertical-align: middle;
            }
        }
    }
    tbody{
        tr{
            &:nth-child(odd) {
                background: #F8F8F8;
            }
            &:last-of-type{
                td:first-of-type{
                    border-bottom-left-radius: 13px;
                }
            }
            &:not(:last-of-type){
                td:first-of-type::after{
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #ccc;
                }
            }
        }
        td{
            position: relative;
            padding: 0;
            text-align: center;
            &:first-of-type{
                background: #324960;
                color: #fff;
                font-weight: 500;
                padding: 10px 20px;
            }
            &:not(:last-of-type){
                border-right: 1px solid #ccc;
            }
            mat-icon{
                pointer-events: none;
                position: absolute;
                width: 25px;
                height: 25px;
                top: 2px;
                right: 2px;
                z-index: 10;
            }
            .assignment_turned_in{
                background: rgba(79, 195, 161, 0.35);
                mat-icon:not(.voirmission){
                    color: var(--secondary);
                }
            }
            .hourglass_bottom{
                background: rgba(255, 166, 0, 0.41);
                mat-icon:not(.voirmission){
                    color: var(--secondary);
                    color: orange;
                }  
            }
            .event_busy{
                mat-icon:not(.voirmission){
                    color: #f22;
                    pointer-events: all;
                    cursor: pointer;
                    opacity: .7;
                    transition: .3s;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .voirmission{
                color: var(--primary);
                top: 2px;
                left: 2px;
                pointer-events: all;
                cursor: pointer;
            }
        }
    }
}

::ng-deep .creneau_td{
    height: 65px;
    > div:first-of-type{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            background: #fff;
        }
    }
    .demi_haut, .demi_bas{
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        div{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 27px;
            height: 27px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            background: #fff;
            position: relative;
        }
    }
    .demi_haut{
        top: 0;
    }
    .demi_bas{
        bottom: 0;
    }
    .dashed_bas::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-bottom: 1.5px dashed #ccc;
    }
    .dashed_haut::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        bottom: 0;
        border-top: 1.5px dashed #ccc;
    }
}


.explic{
    display: flex;
    flex-wrap: wrap;
    span{
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 15px;
        mat-icon{
            color: var(--secondary);
            margin-right: 3px;
            &.effectue{
                color: var(--secondary);
            }
            &.en_cours{
                color: orange;
            }
            &.reserve{
                color: #f22;
            }
        }

    }
}

@keyframes swipeRight{
    0% {transform: translateX(0);opacity: 1;}
    10% {transform: translateX(-30px);}
    25% {transform: translateX(0);}
    35% {transform: translateX(-30px);}
    50% {transform: translateX(0px);}
    60% {transform: translateX(-30px);}
    75% {transform: translateX(0px);}
    85% {transform: translateX(-30px);opacity: 1;}
    100% {transform: translateX(0px);}
}

/* Responsive */

@media (max-width: 1230px) {
    :host{
        padding: 64px 10px 20px 10px;
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        > div:not(.blur), h1{
            position: relative;
            z-index: 1;
        }
    }

    .blur{
        z-index: 0;
    }

    .background{
        padding: 64px 10px 30px 10px;
    }
    .explic{
        padding: 7px 10px 10px;
        span{
            margin-bottom: 7px;
        }
    }
    
    .table-wrapper{
        padding: 10px 0;
        &:before{
            content: url("/assets/images/swipe.svg");
            display: block;
            text-align: right;
            margin-top: -17px;
            animation: 4s swipeRight;
            opacity: 0;
        }
    }

    table {
        display: block;
        width: 100%;
        thead, tbody, thead th {
            display: block;
        }
        thead {
            float: left;
            tr{
                th{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    height: 60px;
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: 120px;
                    font-size: 13px;
                    text-overflow: ellipsis;
                }
                th{
                    &:first-of-type{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid #ccc;
                    }
                    &:last-of-type{
                        border-radius: 0 0 0 13px;
                    }
                }
            }
        }
        tbody {
            width: auto;
            position: relative;
            overflow-x: auto;
            tr{
                display: table-cell;
                &:nth-child(odd) {
                    background: none;
                }
                &:nth-child(even) {
                    background: transparent;
                }
                td{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // padding: 10px;
                    height: 60px;
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: 120px;
                    font-size: 13px;
                    &:nth-child(odd) {
                        background: #F8F8F8;
                        border-right: 1px solid #E6E4E4;
                    }
                    &:nth-child(even) {
                        border-right: 1px solid #E6E4E4;
                    }
                    &:first-of-type{
                        background: var(--primary);
                    }
                }
                &:last-of-type{
                    td{
                        border-right: none;
                        &:first-of-type{
                            border-radius: 0 13px 0 0;
                        }
                    }
                }
            }
        }
    }
    ::ng-deep .creneau_td{
        .demi_haut, .demi_bas{
            width: 50%;
            height: 100%;
        }
        .demi_bas{
            left: auto;
            right: 0;
        }
        .dashed_bas::after{
            border-right: 1.5px dashed #ccc;
            border-bottom: none;
        }
        .dashed_haut::before{
            top: 0;
            left: -1px;
            border-left: 1.5px dashed #ccc;
            border-top: none;
        }
    
    }
   
}