<div class="presentation">
  <h1>Mon planning</h1>
  <p>pour le {{dateAfficher}}</p>
</div>

<div class="date">
  <mat-form-field>
    <mat-label>Choisi une date</mat-label>
    <input readonly matInput [matDatepicker]="picker" (dateChange)="afficherCrenauParDate()" [(ngModel)]="defaultDatePicker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<p *ngIf = "crenaux.length == 0" class="nocrenau">Vous n'avez aucun créneau de reservé pour le {{dateAfficher}}</p>

<table *ngIf="crenaux.length != 0">
    <thead>
     <tr>
       <th scope="col">Heure</th>
       <th></th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crenau of crenaux">
        <td>{{ crenau.heureDebut }}h à {{ crenau.heureFin }}h</td>
        <td>
          <button *ngIf="60 < calculDifferenceDate(crenau.date.toDate(), datePicker)" (click)="desinscriptionLivreur(crenau)" mat-raised-button color="primary">
            <mat-icon>event_busy</mat-icon>
            Annuler
          </button>
          <button *ngIf="calculDifferenceDate(crenau.date.toDate(), datePicker) <= -60" mat-raised-button class="effectue">
            <mat-icon>event_available</mat-icon>
            Effectué
          </button>
          <button *ngIf="-60 < calculDifferenceDate(crenau.date.toDate(), datePicker) && calculDifferenceDate(crenau.date.toDate(), datePicker) <= 0" mat-raised-button class="encours">
            <mat-icon>hourglass_bottom</mat-icon>
            en cours
          </button>
          <button *ngIf="0 < calculDifferenceDate(crenau.date.toDate(), datePicker) && calculDifferenceDate(crenau.date.toDate(), datePicker) <= 60" mat-raised-button class="dansmin">
            Dans<span>{{ calculDifferenceDate(crenau.date.toDate(), datePicker) }}</span>minutes
          </button>
        </td>
      </tr>
    </tbody>
</table>