.presentation{
    margin-bottom: 25px;
    h1{
        color: orangered;
        text-align: center;
        margin-bottom: 0;
    }
    p{
        text-align: center;
        color: orangered;
        font-size: 1.3rem;
        margin: 0;
    }

}

.nocrenau{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: orangered;
    margin-top: 100px;
}

.date{
    width: max-content;
    margin: auto;
}

table{
    margin: 0 auto 30px auto;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-collapse: collapse;
    thead{
        th{
            background: orangered;
            color: #fff;
            padding: 10px 50px;
            &:not(:last-of-type){
                border-right: 1px solid white;
            }
            &:first-of-type{
                border-top-left-radius: 13px
            }
            &:last-of-type{
                border-top-right-radius: 13px
            }
        }
    }
    tbody{
        tr{
            &:not(:last-of-type){
                border-bottom: 1px solid #ccc;
            }
        }
        td{
            padding: 10px 20px;
            text-align: center;
        }
        .encours{
            border: 1px solid orangered;
            color: orangered;
            box-shadow: none;
            cursor: default;
        }
        .effectue{
            border: 1px solid green;
            color: green;
            box-shadow: none;
            cursor: default;
        }
        .dansmin{
            box-shadow: none;
            span{
                color: orangered;
                font-size: 1.1rem;
                margin: 0 3px;
            }
        }
    }
}