<h1>Mon planning</h1>
<div class="date">
  <mat-form-field>
    <mat-label>Choisir une date</mat-label>
    <input readonly matInput [matDatepicker]="picker" (dateChange)="afficherCrenauParSemaine()" [(ngModel)]="defaultDatePicker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
          <tr>
            <th><mat-icon>schedule</mat-icon></th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heure of heures; index as i">
            <td>{{heure}}/{{heure + 1}}h</td>
            <td *ngFor="let jour of jours" [ngClass]="crenaux | returnCompletLivreur: jour : i" class="creneau_td">
              <div [innerHTML]="crenaux | returnLogo: jour : i"></div>
              <mat-icon [innerHTML]="crenaux | returnIcon : jour : i" (click)="openDialogModal(returnCrenau(jour,i))"></mat-icon>
              <mat-icon [innerHTML]="crenaux | returnMissionRB : jour : i" (click)="returnUrlMissionRB(crenaux, jour, i)" class="voirmission" matTooltip="détail mission"></mat-icon>
            </td>
          </tr>
        <tbody>
    </table>
</div>

<!--<div class="table-wrapper">
    <table class="fl-table">
        <thead>
          <tr>
            <th><mat-icon>schedule</mat-icon></th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heure of heures; index as i">
            <td>{{heure}}/{{heure + 1}}h</td>
            <td *ngFor="let jour of jours" [ngClass]="{'effectue': returnPlanning(jour,i) == 'effectue'}">
              <button *ngIf="returnPlanning(jour,i).length == 20 " matTooltip="annuler ce créneau" (click)="openDialogModal(returnPlanning(jour,i))" class="annule">
                <mat-icon>free_cancellation</mat-icon>
              </button>
              <span *ngIf="returnPlanning(jour,i).length < 4 ">Dans <strong>{{ returnPlanning(jour,i) }}</strong> min</span>         
              <button *ngIf="returnPlanning(jour,i) == 'en cours'" matTooltip="en cours" class="encours">
                <mat-icon>hourglass_bottom</mat-icon>
              </button>
              <button *ngIf="returnPlanning(jour,i) == 'effectue'" matTooltip="créneau effectué">
                <mat-icon>assignment_turned_in</mat-icon>
              </button>
              <span *ngIf="returnPlanning(jour,i) == 'pas pris'"> </span>
            </td>
          </tr>
        <tbody>
    </table>
</div>
-->

<div class="explic">
  <span>
    <mat-icon>assignment_turned_in</mat-icon>
    Effectué
  </span>
  <span>
    <mat-icon>hourglass_bottom</mat-icon>
    En cours
  </span>
  <span>
    <mat-icon class="reserve">event_busy</mat-icon>
    Annuler
  </span>
</div>

<div class="blur"></div>