<div class="profil-container" *ngIf=" user$ | async as user">
  <p>{{ user.firstName }}</p>
  <div class="profile-image">
    <img [src]="user.photoURL ?? '/assets/images/avatar.svg'"/>
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file" (change)="uploadImage($event, user)" />
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div>
      <mat-form-field>
        <input type="text" matInput formControlName="lastName" placeholder="Nom"/>
          <mat-error *ngIf="profileFormSend && lastName.hasError('required')">
            Nom obligatoire
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="firstName" placeholder="Prénom"/>
          <mat-error *ngIf="profileFormSend && firstName.hasError('required')">
            Prénom obligatoire
          </mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <mat-form-field>
        <input type="tel" matInput formControlName="phone" placeholder="Téléphone"/>
          <mat-error *ngIf="profileFormSend && phone.hasError('required')">
            Numéro de téléphone obligatoire
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="email" placeholder="email"/>
          <mat-error *ngIf="profileFormSend && email.hasError('email') && !email.hasError('required')">
            Merci de renseignez une adresse mail valide
          </mat-error>
          <mat-error *ngIf="profileFormSend && email.hasError('required')">
            L'email est obligatoire
          </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-select formControlName="vehicule" placeholder="véhicule">
        <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule.value">
          {{vehicule.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="profileFormSend && vehicule.hasError('required')">
        Veuillez renseigner votre type de véhicule
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button>
      <mat-icon>how_to_reg</mat-icon>
      Enregistrer
    </button>
  </form>
</div>
<div class="blur"></div>