:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 80px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

h1{
    text-align: center;
    color: var(--primary);
    @media (max-width: 450px){
        font-size: 1.5rem;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: auto;
    @media (max-width: 450px){
        width: 100%;
    }
    > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 450px){
            width: 90%;
        }
        mat-form-field{
            width: 45%;
            @media (max-width: 450px){
                width: 100%;
            }
        }
    }
    mat-form-field{
        width: 100%;
        @media (max-width: 450px){
            width: 90%;
        }
        .remove{
            position: absolute;
            color: var(--primary);
            cursor: pointer;
            opacity: .7;
            transition: .3s;
            &:hover{
                opacity: 1;
            }
        }
        .add_location{
            position: absolute;
            right: 0;
            color: var(--primary);
            cursor: pointer;
        }
    }
    button{
        background: var(--button);
        color: #fff;
    }
    > span{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--secondary);
        font-weight: 600;
        margin: 10px auto 25px auto;
        cursor: pointer;
        mat-icon{
            margin-right: 3px;
        }
    }
}