:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 80px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
    &.active{
        background: rgba(255, 255, 255, 0.55);
    }
}

h1{
    text-align: center;
    color: var(--primary);
    @media (max-width: 450px){
        font-size: 1.5rem;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: auto;
    @media (max-width: 450px){
        width: 100%;
    }
    > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 450px){
            width: 90%;
        }
        mat-form-field{
            width: 45%;
            @media (max-width: 450px){
                width: 100%;
            }
        }
    }
    mat-form-field{
        width: 100%;
        @media (max-width: 450px){
            width: 90%;
        }
        .input-liv{
            box-sizing: border-box;
            padding-right: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .remove{
            position: absolute;
            color: var(--primary);
            cursor: pointer;
            opacity: .7;
            transition: .3s;
            &:hover{
                opacity: 1;
            }
        }
        .add_location{
            position: absolute;
            right: 0;
            color: var(--primary);
            cursor: pointer;
        }
    }
    button{
        background: var(--primary);
        color: #fff;
    }
    > span{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--secondary);
        font-weight: 600;
        margin: 10px auto 25px auto;
        cursor: pointer;
        mat-icon{
            margin-right: 3px;
        }
    }
}

.recap_mission{
    background: var(--primary);
    background: rgba(50, 73, 96, 0.96);
    max-width: 500px;
    margin: 40px auto auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 25px -3px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    h3{
        color: var(--secondary);
        font-size: 1.6rem;
        text-align: center;
        margin: 0;
        @media (max-width: 500px){
            font-size: 1.4rem;
        }
    }
    > p{
        color: var(--secondary);
        margin: 3px 0 5px;
        span{
            color: #fff;
        }
    }
    > div:first-of-type{
        display: flex;
        justify-content: space-between;
        margin: 17px 0 10px 0;
        span{
            color: #fff;
            margin: 0 15px;
            mat-icon{
                vertical-align: middle;
            }
        }
    } 
    .adresse{
        margin: auto;
        > div{
            display: flex;
            align-items: flex-start;
            margin: 15px 0;
            mat-icon{
                margin-right: 5px;
                color: var(--secondary);
            }
            &:not(:last-of-type){
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 21px;
                    left: 10px;
                    height: 90%;
                    border-left: dotted 4px var(--secondary);
                    @media (max-width: 500px) {
                        top: 24px;
                        height: 82%;
                        left: 11px;
                        border-left: dotted 2px var(--secondary);
                    }
                }
            }
        }
        p{
            color: #fff;
            margin: 0;
            text-transform: capitalize;
        }
    }
    button{
        margin: 13px 10px auto;
        &:first-of-type{
            color: #fff;
            background: none;
            border: none;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }
        &:last-of-type{
            background: var(--secondary);
            color: #fff;
        }
    }
}

@media (max-width: 500px) {
    :host{
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .blur{
        z-index: 0;
    }
    h1, form, .recap_mission{
        position: relative;
        z-index: 1;
    }
}