:host{
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
}

.blur{
    background: rgba(255, 255, 255, 0.9);
}

.date{
    width: max-content;
    margin: 25px auto auto;
}

mat-radio-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 23px;
    mat-radio-button:first-of-type{
        margin-right: 25px;
    }
    ::ng-deep{
        .mat-radio-label-content{
            padding-left: 5px;
        }
        .mat-radio-outer-circle{
            border-color: var(--secondary);
        }
        .mat-radio-inner-circle{
            border-color: var(--secondary);
            background: var(--secondary) !important;
        }
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
            border-color: var(--secondary);
        }
    }
}

.nocrenau{
    text-align: center;
    margin-top: 50px;
    font-size: 1.3rem;
    color: var(--secondary);
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    background: rgba(255,255,255,.8);
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    &:first-of-type th{
        background: var(--secondary);
    }
    &:last-of-type th{
        background: var(--primary);
    }
    thead{
        th{
            color: #fff;
            padding: 10px 20px;
            font-weight: 400;
            &:first-of-type{
                background: var(--secondary);
                border-top-left-radius: 13px;
                border-bottom: 1px solid #fff;
            }
            &:last-of-type{
                background: var(--secondary);
                border-top-right-radius: 13px;
                border-bottom: 1px solid #fff;
            }
            mat-icon{
                display: block;
                margin: auto;
            }
        }
    }
    tbody{
        tr{
            &:not(:last-of-type){
                border-bottom: 1px solid #ccc;
                td:first-of-type{
                    border-bottom: 1px solid #fff;
                }
                td:last-of-type{
                    border-bottom: 1px solid #fff;
                }
            }
            &:last-of-type td{
                &:first-of-type{
                    border-bottom-left-radius: 13px;
                }
                &:last-of-type{
                    border-bottom-right-radius: 13px;
                }
            }
            td{
                padding: 10px 13px;
                text-align: center;
                color: var(--primary);
                font-weight: 500;
                &:first-of-type{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    text-transform: capitalize;
                    background: var(--secondary);
                    color: #fff;
                }
                &:last-of-type{
                    background: var(--secondary);
                    color: #fff;
                }
            }
        }
    }
}

@keyframes swipeRight{
    0% {transform: translateX(0);opacity: 1;}
    10% {transform: translateX(-30px);}
    25% {transform: translateX(0);}
    35% {transform: translateX(-30px);}
    50% {transform: translateX(0px);}
    60% {transform: translateX(-30px);}
    75% {transform: translateX(0px);}
    85% {transform: translateX(-30px);opacity: 1;}
    100% {transform: translateX(0px);}
}

/* Responsive */

@media (max-width: 815px) {
    :host{
        padding: 64px 10px 40px 10px;
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: url(/assets/images/woozoo-background.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        > *:not(.blur){
            position: relative;
            z-index: 1;
        }
    }
    
    .blur{
        z-index: 0;
    }

    table{
        display: block;
        max-width: max-content;
        overflow-x: auto;
        &:before{
            content: url("/assets/images/swipe2.svg");
            position: absolute;
            top: 3px;
            right: 0;
            animation: 4s swipeRight;
            opacity: 0;
        }
    }
}