<h1>Livreurs</h1>
<table>
  <thead>
   <tr>
        <th><mat-icon>account_circle</mat-icon></th>
        <th><mat-icon>email</mat-icon></th>
        <th><mat-icon>phone</mat-icon></th>
   </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livreur of livreurs | slice: lowValueSliceLivreur : highValueSliceLivreur">
      <td><img [src]="livreur.photoURL ?? '/assets/images/avatar.svg'"/>{{ livreur.lastName }} {{ livreur.firstName }}</td>
      <td>{{ livreur.email }}</td>
      <!--<td>{{ formatPhone(livreur.phone) }}</td>-->
      <td>{{livreur.phone}}</td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="livreurs.length" pageSize=5
               (page)="getPaginatorData($event, 'livreur')" [pageSizeOptions]="[5, 10, 30]"
               showFirstLastButtons="false">
</mat-paginator>

<h1>Administrateur</h1>
<table>
  <thead>
   <tr>
        <th><mat-icon>account_circle</mat-icon></th>
        <th><mat-icon>email</mat-icon></th>
        <th><mat-icon>phone</mat-icon></th>
   </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of adminUsers | slice: lowValueSliceAdmin : highValueSliceAdmin">
      <td>
        <img src="/assets/images/icone_{{user.role}}.png" alt="woozoo">
        {{ user.lastName }} {{ user.firstName }}
      </td>
      <td>{{ user.email }}</td>
      <td>{{ formatPhone(user.phone) }}</td>
    </tr>
   </tbody>
</table>
<mat-paginator [length]="adminUsers.length" pageSize=5
               (page)="getPaginatorData($event, 'admin')" [pageSizeOptions]="[5, 10, 30]"
               showFirstLastButtons="false">
</mat-paginator>

<div class="blur"></div>